@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-SemiBold.woff2") format("woff2"), url("../fonts/Lato-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: #FAFAFA;
}

.bg-left, .bg-right {
  z-index: -1;
  position: absolute;
}

.bg-left {
  left: 0;
  top: 0;
}

.bg-right {
  right: 0;
}

.wrapper {
  max-width: 1530px;
  margin: 0 auto;
}

.wrapper-slim {
  max-width: 1320px;
  margin: 0 auto;
}

h1 {
  font-size: 56px;
  line-height: 80px;
  font-weight: 700;
  color: #331A2F;
}

h2 {
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
  color: #331A2F;
  text-align: center;
}

a, p {
  color: #331A2F;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.main {
  margin-top: 66px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 19px;
  color: rgba(51, 26, 47, 0.5019607843);
  margin-bottom: 15px;
}
.breadcrumbs a {
  color: rgba(51, 26, 47, 0.5019607843);
}

@media (max-width: 1440px) {
  .wrapper {
    max-width: 1200px;
    padding: 0 15px;
  }

  .wrapper-slim {
    min-width: 995px;
  }
}
@media (max-width: 1024px) {
  .bg-right, .bg-left {
    display: none;
  }
}
.header {
  padding-top: 35px;
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo .logo-icon {
  height: 58px;
  width: 60px;
  min-width: 60px;
}
.header__logo .logo-text {
  height: 38px;
  width: 162px;
  min-width: 162px;
  margin-right: 19px;
  margin-left: 19px;
}
.header__logo p {
  font-size: 14px;
  line-height: 18px;
  min-width: 214px;
  border-left: 1px solid rgba(51, 26, 47, 0.5);
  padding-left: 25px;
}
.header__menu {
  margin-left: 31px;
  margin-right: 91px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header__left {
  display: flex;
}
.header__links {
  display: flex;
  align-items: center;
  grid-column-gap: 50px;
}
.header__links .links-item {
  font-size: 24px;
  line-height: 35px;
}
.header__links .accordion {
  display: flex;
  align-items: center;
}
.header__links .accordion svg {
  margin-left: 12px;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__right .phone-item {
  font-size: 24px;
  line-height: 35px;
  display: flex;
  align-items: center;
}
.header__right .phone-item svg {
  margin-right: 5px;
}
.header__btns {
  display: flex;
  align-items: center;
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #CF51CE;
  border-radius: 12px;
  height: 45px;
  padding: 0 32px;
  color: white;
  font-weight: 500;
  font-size: 23px;
  line-height: 35px;
}
.header__button svg {
  margin-right: 14px;
}
.header__burger {
  display: none;
  position: relative;
  height: 28px;
  width: 42px;
  cursor: pointer;
  min-width: 42px;
}
.header__burger span {
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: #CF51CE;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s, opacity 0.3s;
}
.header__burger:before, .header__burger:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background: #CF51CE;
  border-radius: 4px;
  transition: transform 0.3s, top 0.3s;
}
.header__burger:before {
  top: 0;
}
.header__burger:after {
  bottom: 0;
  width: 76%;
  right: 0;
}
@media (max-width: 1440px) {
  .header__logo .logo-icon {
    height: 44px;
    width: 47px;
    min-width: 47px;
  }
  .header__logo .logo-text {
    height: 30px;
    width: 126px;
    min-width: 126px;
  }
  .header__logo svg {
    margin-right: 14px;
  }
  .header__logo p {
    padding-left: 19px;
    font-size: 10px;
    line-height: 14px;
    min-width: 155px;
  }
  .header__links {
    grid-column-gap: 40px;
  }
  .header__links .links-item {
    font-size: 18px;
  }
  .header__right .phone-item {
    font-size: 18px;
  }
  .header__button {
    font-size: 18px;
  }
  .header__button svg {
    height: 20px;
    width: 20px;
  }
}
@media (max-width: 1100px) {
  .header__menu {
    display: none;
  }
  .header__btns {
    margin-left: auto;
  }
  .header__burger {
    margin-left: 79px;
    display: block;
  }
  .header .open-menu .header__menu {
    display: flex;
    position: fixed;
    justify-content: unset;
    margin-left: 0;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
  }
  .header .open-menu .header__burger span {
    transform: rotate(-45deg);
  }
  .header .open-menu .header__burger:before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .header .open-menu .header__burger:after {
    transform: translateX(200%);
  }
}
@media (max-width: 768px) {
  .header__logo .logo-text {
    margin-left: 10px;
  }
  .header__logo p {
    display: none;
  }
  .header__button {
    height: 36px;
    padding: 0 20px;
  }
  .header__burger {
    margin-left: 22px;
  }
}

.greeting {
  display: flex;
}
.greeting .text-pink {
  color: #CF51CE;
}
.greeting h1 {
  margin-bottom: 22px;
}
.greeting__price {
  display: flex;
  margin-bottom: 16px;
}
.greeting__price svg {
  height: 48px;
  width: 48px;
  min-width: 48px;
}
.greeting__price p {
  margin-left: 25px;
  font-size: 25px;
  line-height: 160%;
  color: rgba(51, 26, 47, 0.8);
}
.greeting__price span {
  font-size: 35px;
  font-weight: 600;
}
.greeting__text p {
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
}
.greeting__text p:not(:last-child) {
  margin-bottom: 15px;
}
.greeting__right {
  margin-left: 42px;
  background: url("../img/stars.png") no-repeat;
  width: 100%;
  height: 100%;
}

.history {
  margin-top: 145px;
}
.history h2 {
  margin: 0 auto 100px;
  max-width: 800px;
}
.history__item {
  display: flex;
  align-items: center;
  grid-column-gap: 80px;
}
.history__text p {
  font-size: 25px;
  line-height: 160%;
  color: rgba(51, 26, 47, 0.8);
}

.about-learn {
  margin-bottom: 131px;
}
.about-learn h2 {
  max-width: 680px;
  margin: 0 auto 23px;
}
.about-learn__items {
  display: flex;
  grid-column-gap: 123px;
}

/*# sourceMappingURL=style.css.map */
